*.parquet filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
data/market/history/*.json.gz -filter -diff -merge -text
data/market/latest-candles/*.json.gz -filter -diff -merge -text
data/market/profiles/*.json.gz -filter -diff -merge -text
data/market/quotes/*.json.gz -filter -diff -merge -text
